.banner-secundario {
    height: 250px;
}

.sobre-nos {
    padding: 70px 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-content: space-between;
}

.divisao {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.topicos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

@media (max-width: 1100px){
    .sobre-nos {
        grid-template-columns: 1fr;
        padding: 70px 10%;
    }
    .topicos > h2{
        text-align: center;
    }
}

/* @media (max-width: 700px) {
    .insta-face {
        flex-direction: column;
        align-items: center;
    }
} */

@media (max-width: 450px) {  
    .sobre-nos {
        padding: 20px 5%;
    }
}